.list-container {
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-size {
  height: 50px;
  width: 50px;
}
.heading {
  color: black;
  font-family: 'Bree Serif';
  font-size: 16px;
}
